.signin-page {
    height: 100%;
}
.navbar-color {
    background-color: darkred;
}

.faded-background {
    background: linear-gradient(
            to bottom,
            #8b0000,
            #e6cfcf
    );
}
.signin-card {
    background-color: white;
    border-radius: 20px;
    width: 28%;
    position: relative;

}
.login-card {
    background: linear-gradient(
            to bottom,
            #c94b5b,
            #f2e6e6
    );
    border-radius: 20px;
    width: 28%;
    position: relative;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.aura-logo {
    font-family: "Edwardian Script ITC", cursive;
    font-size: 48px;
}

.custom-input {
    border-radius: 10px;
    padding: 12px;
}

.submit-btn {
    background: #a8001c;
    color: white;
    width: 50%;
    height: 40px;
    border-radius: 5px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
    background: #a8001c;
    color: white;
    border-radius: 50%;
    width: 8%;
    height: 25px;
}
